.sidebar {
  background-color: #512DA8; /* Violet/Bluish Color */
  color: #fff; /* White Text */
  height: 100vh;
  padding-top: 1rem;
}

.sidebar h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #9575CD; /* Border for the heading */
}

.nav-link {
  color: #fff; /* White Text for links */
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  display: block;
}

/* .imran {
  border-radius: 50%;
} */

.vertical-divider {
  height: 100%;
  width: 1px;
  background-color: #000; /* Color of the divider, change as needed */
}

.card_main{
  overflow-y: hidden;
  height: 500px;
}

.fixed-card-overlay {
  position: fixed;
  top: 0%;
  left: 55%;
  z-index: 9999;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-popup {
  z-index: 10000;
  width: 50%;
  max-width: 400px;
}
